.git
.docker
.dockerignore
.env.example
.github
.devcontainer
.phpunit.cache
.vscode
coverage
tests
.gitignore
composer.json
composer.lock
GitVersion.yml
LICENSE
phpcs.xml
phpunit.xml
README.MD

!.docker/cronjobs