TYPESENSE_API_KEY=xyz
TYPESENSE_HOST=typesense
TYPESENSE_PORT=8108
TYPESENSE_PROTOCOL=http

REACHMEE_HELSINGBORG_PATH=
WP_EVENTS_API_URL=
WORDPRESS_EXHIBITION_EVENT_PATH=
ELEMENTARY_SCHOOL_API_URL=
PRE_SCHOOL_API_URL=
REACHMEE_INTRANAT_HELSINGBORG_PATH=
WP_LEGACY_EVENTS_API_URL=
AXIELL_EVENTS_URL=
TIX_EVENTS_API_URL=

STRATSYS_INNOVATION_PATH=
STRATSYS_INNOVATION_AUTH=
STRATSYS_INNOVATION_CLIENTID=
STRATSYS_INNOVATION_CLIENTSECRET=
